<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>mdm-static</string>
	<key>CFBundleIconFile</key>
	<string>fsp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.multidmedia.mdm_static</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pearson Longman</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>FSPP</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
</dict>
</plist>
